{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  
 <header class="header" id="header">
    <div class="logo" >
          <a href="{% url 'core:index' %}"><img style=" max-height: 40px;" src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
    </div>

    </header>
<div class="container">

  <div class="row justify-content-center">
      <div class="col-md-8">
        <a href="{% url 'showProducts' %}" class="btn btn-primary mt-2"><i class="bi bi-arrow-left-circle-fill"></i> Back</a>
          <div class="card m-5 p-2" style="width: 25rem;">
              <img src="{{ eachProduct.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title m-1"><b>Name:</b> {{ eachProduct.name }}</h5>
                  <h4 class="card-subtitle m-1"><b>Price:</b> Ksh. {{ eachProduct.price }}</h4>
                  <p style="font-size: 14px;" class="btn btn-warning m-1 p-1">{{ eachProduct.category.name }}</p>
                  <hr>
                  <p style="font-size: 15px;" class="card-text mt-1">Description: {{ eachProduct.description }}</p>
                  <p style="font-size: 13px;" class="cart-text mt-1">added - {{ eachProduct.created_at|naturaltime}}</p>
              </div>
          </div>
      </div>


  </div>

</div>


{% endblock %}

