{% extends 'base.html' %}


{% block content %}
 <header class="header" id="header">
        <div class="header_toggle btn btn-primary" id="header-toggle"> <i class="bi bi-funnel-fill" ></i> <span>Filter by Category</span></div>
        <form action="{% url 'search' %}" method="get" class="d-flex">
{#            <input class="form-control me-2" type="text" name="query" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-success" type="submit">Search</button>#}
            <label for="search">Search</label>
	<input id="search" type="search" pattern=".*\S.*" required>
	<span class="caret"></span>
        </form>

    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div class="">
                <a href="#" class="nav_logo"> <span class="nav_logo-name">Categories</span> </a>
                <div class="nav_list">
                    <a class="nav_link" href="{% url 'showProducts' %}">All</a>

                  {% for category in categories %}

                    <li class="list-group-item">
                        <a class="nav_link" href="{% url 'showProducts' %}?category={{ category.name }}">{{ category.name }}</a>
                    </li>

                  {% endfor %}

                </div>
            </div>
        </nav>
    </div>

    <div class="height-100 bg-light pt-5">


       <div class="row">

            {% if products %}

            {% for product in products %}

                <div class="col-lg-3 mb-3 col-md-6 d-flex align-items-stretch justify-content-center">
    		    <div class="card profile-card-5">
    		        <div class="card-img-block">
    		            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                        <span class="badge rounded-pill text-bg-secondary">{{ product.category.name }}</span>
                    <h5 class="card-title">{{ product.name }}</h5>

                        <span><a href="{% url 'product' product.pk  %}" style="background-color: #5707b3;" class="btn btn-primary m-1">Detail</a></span>

                    </div>
                </div>
    		</div>

            {% endfor %}

            {% else %}
                 <p>No Products </p>
            {% endif %}


        </div>


        <div class="row m-5">
          <div class="col-md-12 m-2">
  
            {% if products.has_other_pages %}
              <ul class="pagination">
                    {% if products.has_previous %}  
                        <li class="page-item">
                          <a href="?page={{ products.previous_page_number }}" class="page-link">&laquo;
                          </a>
                        <li>
                      {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="?page=1">&laquo;</a>
                        </li>     
                     {% endif %}
  
                  {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                          <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                          </li>
                        {% else %}
                        <li class="page-item">
                          <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>  
                        {% endif %}
                  {% endfor %}


  
                  {% if products.has_next %}  
                  <li class="page-item">
                    <a href="?page={{ products.next_page_number }}" class="page-link">&raquo;
                    </a>
                  <li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}">&raquo;</a>
                  </li>     
                  {% endif %}
  
              </ul>
            {% endif %}
  
          </div>
        </div>


       
     


    </div>

{% endblock %}

